@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color1: #C06C84;
    --color2: #F67280;
    --color3: #F8B195;
    --color4: #6C5B7B;
    --color5: #355c7D;
}

body,
html {
    margin: 10;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    background-color: #ebf2f7;
}

header {
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 2px solid var(--color1);
    box-shadow: rgb(36, 38, 66) 0px 2px 8px 0px;
}

header>h1 {
    color: var(--color1);
    letter-spacing: 0.1em;
    font-weight: 700;
}

header>p {
    color: var(--color2);
    width: 70%;
    max-width: 600px;
}

.link_titoli {
    color: var(--color1);
    text-decoration: none;
}

.link_titoli:hover {
    font-weight: bold;
}

.container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container>a {
    text-decoration: none;
    color: var(--color5);
}

.card {
    background-color: var(--color3);
    min-width: 300px;
    max-width: 300px;
    aspect-ratio: 4/3;
    border: solid var(--color5);
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    flex: 1;
    margin: 10px;
    box-shadow: rgb(36, 38, 66) 0px 2px 8px 0px;
}

.card_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform .3s;
}


.card_foot {
    position: absolute;
    padding: 8px;
    bottom: 0%;
    left: 0;
    background: red;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(16px);
}

.card_img:hover {
    transform: translate(0, -15px) scale(1.02);
}

.rivista {
    padding-top: 5px;
    font-size: small;
    color: var(--color4);
    text-align: right;
}

@media only screen and (min-width: 1224px) {
    .container {
        margin: 0 300px;
        /* background-color: red; */
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 1000px) {
    html {

        font-size: 220%;
    }

    header>img {
        width: 50%;
        height: 50%;
    }

    .card {
        min-width: 450px;
        max-width: 450px;
    }

    .rivista {
        padding-top: 5px;
        font-size: 80%;
        padding-right: 30px;
    }

    .card_foot {
        background: red;
        background: hsla(0, 0%, 100%, 0.615);
    }
}
